<div class="text-center">
  <div class="col-md-16">
    <h1><%= @topic.title %></h1>
      <% if @topic.user == current_user %>
        <small>
        <%= link_to "Edit Topic", edit_topic_path %>
        </small>
      <% end %>
    </div>
    <div>
      <%= link_to "New Bookmark", new_topic_bookmark_path(@topic), class: 'btn btn-success' %><br />
      <% @topic.bookmarks.each do |b| %>
      <div class="media-body">
        <div class="row justify-content-md-center" id="bookmark-list">
          <strong><%= link_to b.name, "http://#{b.url}" %></strong>
          <%= render partial: 'likes/like', locals: { bookmark: b } %>
          <% if b.user == current_user %>
          <small><%= link_to "Edit", edit_topic_bookmark_path(topic_id: b.topic, id: b.id), class: 'btn btn-secondary btn-sm' %><br /></small>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
